
  <div class="container d-flex justify-content-center mt-5">
    <div class="row col-4">
      <h3>Cliquez pour choisir un horaire</h3>
      <%= simple_form_for(@meeting) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :start_time, as: :string, label: false, input_html: {class: "datepicker"} %>
        <%= f.submit "Réservez maintenant", class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
