
<div class="d-flex ">
<div class="w-50 m-1 text-white bg-dark p-3">
  <h5>Meetingsfor thismentor :<%= @meetings.where(mentor: @mentor).count %></h5>
  <h5> My meetings ( @meetings du dessus.select) <%= @my_meetings.count %></h5>
  <h5>Total of meetings ( meetings all): <%= @meetings.count %></h5>
    <div class=""> <!-- Pending bookings list-->
      <h2>Meetings requests  (<%= @pending_meetings.filter{|x| x.start_time > Time.now}.count %>)</h2>
      <ul class="list-group">
        <% @pending_meetings.filter{|x| x.start_time > Time.now}.each do |pending_meeting| %>
            <li class="list-group-item mb-3">
              <%= User.find(pending_meeting.user_id).first_name %> is requesting a free call <br>
              <!-- COde starting here need to be updated -->
              Schedule: <%= pending_meeting.start_time.strftime("%c") %> <br>
            <div class="status">
              <p id="pending"><%= "Confirm?" %></p>
              <div class="d-flex justify-content-between">
                <%= link_to "See request in details to confirm", edit_meeting_path(pending_meeting) %>
              </div>
            </div>
            </li>
            <!-- until here -->
        <% end %>
      </ul>
    </div>
  </div>

  <div class="w-50 m-1 text-white bg-dark p-3"> <!-- Calendrier -->
    <h2>Your planning</h2>
    <%= month_calendar(events: @my_meetings, end_attribute: :end_time) do |date, meetings| %>
      <%= date.day %>
      <% @my_meetings.each do |meeting| %>
        <% if (meeting.start_time.day == date.day) && (meeting.start_time.month == date.month) && (meeting.start_time.year == date.year)  %>
          <div class="meeting">
            Free call with <strong><%= User.find(meeting.user_id).first_name %></strong>
            at : <%= meeting.start_time.hour %> h <%= meeting.start_time.min %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
 <!--
  <div>
    <h1>My students </h1>
    <ul class="list-group">
      <% @meetings.each do |meeting| %>
      <li class="list-group-item">
        <%= User.find(meeting.user_id).first_name %> -
        <%# <%= link_to "Send message", new_message_path %>
      </li>
      <% end %>
    </ul>
  </div>

   <div>
   <h1>Messages sent </h1>
    <ul class="list-group">
      <% @messages.each do |message| %>
      <li class="list-group-item">
        Sent to :<%= User.find(meeting.user_id).first_name %> <br>
        Sent at: <%= message.created_at %> <br>
        Title: <%= message.title %>

      </li>
      <% end %>
    </ul> -->
  </div>
</div>
