<h1> Welcome on your Dashboard as a Mentor </h1><i class="fas fa-ambulance"></i>

<div class="container">
  <div class=""> <!-- Pending bookings list-->
    <h2>Meetings requests</h2>
    <ul class="list-group">
      <% @pending_meetings.each do |pending_meeting| %>
          <li class="list-group-item">
            <%= User.find(pending_meeting.user_id).first_name %> is requesting a free call <br>
            <!-- COde starting here need to be updated -->
            Schedule: <%= pending_meeting.start_time.strftime("%c") %> <br>
          </li>
          <div class="status">
            <p id="pending"><%= "Confirm?" %></p>
            <div class="d-flex justify-content-between">
              <a href="meeting/<%= pending_meeting.id %>/validate"><i class="fa-solid fa-check m-3" style="color: green"></i></a>
              <a href="meeting/<%= pending_meeting.id %>/decline"><i class="fa-solid fa-xmark m-3" style="color: red"></i></a>
            </div>
            <%= link_to "", meeting_path(pending_meeting), class:"links fas fa-eye" %>
          </div>
          <!-- until here -->
      <% end %>
    </ul>
  </div>

  <div> <!-- Calendrier -->
    <h2>Your calendar (and you need to style it)</h2>
    <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
      <%= date %>
      <% @meetings.each do |meeting| %>
        <% if (meeting.start_time.day == date.day) && (meeting.start_time.month == date.month) && (meeting.start_time.year == date.year)  %>
          <div class="meeting">
            Free call with <strong><%= User.find(meeting.user_id).first_name %></strong>
            at : <%= meeting.start_time.hour %> h <%= meeting.start_time.min %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%# <% @bookings_as_mentor.each do |booking| %>
<%# <p>Booked by </p> %>
<%# <%= User.find(booking.user_id).email %> %>
<%# <p>From: </p> %>
<%# <%= booking.start_time %> %>
<%# <p>to: </p> %>
<%# <%= booking.end_time %> %>
<%# <% end %> %> %>
