<div class="banner">
    <div class="row text-center p-3">
      <h2>Réservations</h2>
    </div>

    <div class="d-flex px-5">
      <% @meetings.each do |meeting| %>
        <% if meeting.start_time > Time.now %>
            <% if meeting.status == "confirmed" %>
              <div class="small-card d-flex flex-column mx-3">
                <div class="p-2">
                  <small class="text-success">Votre réservation est confirmée! <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> va vous contacter par mail.</small>  <br>
                  Horaire: <br>
                  <%=  meeting.start_time.strftime("%c") %> <br>
                </div>
                <%= cl_image_tag User.find(Mentor.find(meeting.mentor_id).user_id).photo.key, width: 300, height:300, crop: :fill %>
                Mentor: <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> <%= User.find(Mentor.find(meeting.mentor_id).user_id).last_name %> <%= link_to "Voir le profil", mentor_path(meeting.mentor) %>
              </div>
            <% else %>
              <div class="small-card d-flex flex-column mx-3">
                <div class="p-2">
                  <small class="text-danger">Waiting for <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> to confirm</small><br>
                  Horaire: <br>
                  <%=  meeting.start_time.strftime("%c") %> <br>
                </div>
                <%= cl_image_tag User.find(Mentor.find(meeting.mentor_id).user_id).photo.key, width: 300, height:300, crop: :fill %>
                Mentor:
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
</div>

<!--
  <% if @validated_meeting %>
    <%# <% @validated_meeting.mentor %>
    <div class="messages-list">
      <h1> Résumé du dernier call et directives </h1>
      <ul class="list-group">
        <%= @messages.each do |message| %>
          <li class="list-group-item">
            <h2><%= message.title %> - <%= message.created_at %></h2>
            <p><%= message.description %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% elsif @meetings.any?%>
  <% else %>
    <h5>You don't have any mentor yet. <%= link_to "Find a mentor in 1 clic", new_meeting_url, class: "btn btn-primary" %></h5>
  <% end %>
-->
