<h1>Welcome, on your Student Dashboard, <%= current_user.first_name %> </h1>
<p>You'r a <%= current_user.role %></p>
<ul class="list-group">
  <% @meetings.each do |meeting| %>
    <% if meeting.start_time > Date.new %>
      <li class="list-group-item">
        Statut de votre réservation:
        <%=  meeting.status %> <br>
        Horaire:
        <%=  meeting.start_time %> <br>
        <% if meeting.status == 1 %>
          <small class="text-success">Mentor's last name: <%= User.find(Mentor.find(meeting.mentor_id).user_id).last_name %></small>
        <% else %>
          <small class="text-danger">Waiting for your mentor to confirm</small>
        <% end %>
      </li>
    <% end %>
  <% end %>

  <% if @validated_meeting %>
    <%= @validated_meeting.mentor %> is your mentor.
  <% end %>

  <div class="messages-list">
    <h1> Résumé du dernier call et directives </h1>
    <ul class="list-group">
    <%= @messages.each do |message| %>
      <li class="list-group-item">
        <h2><%= message.title %> - <%= message.created_at %></h2>
        <p><%= message.description %></p>
      </li>
    <% end %>
    </ul>
  </div>
</ul>
