<div class="banner">
</div>
<div class="bg-dark mb-5 black-rounded-card row col-3 text-center" >
  <h1>Welcome on your Dashboard, <br><%= current_user.first_name %> </h1>
</div>
<ul class="black-rounded-card bg-dark text-white col-6 d-flex">
  <% @meetings.each do |meeting| %>
    <% if meeting.start_time > Time.now %>
      <li class="black-rounded-card col-4">
        <% if meeting.status == "confirmed" %>
          <small class="text-success">Votre réservation est confirmée! <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> va vous contacter par mail.</small>  <br>
          Horaire: <br>
          <%=  meeting.start_time.strftime("%c") %> <br>
          Mentor: <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> <%= User.find(Mentor.find(meeting.mentor_id).user_id).last_name %> <%= link_to "Voir le profil", mentor_path(meeting.mentor) %>
        <% else %>
          <small class="text-danger">Waiting for <%= User.find(Mentor.find(meeting.mentor_id).user_id).first_name %> to confirm</small><br>
          Horaire: <br>
          <%=  meeting.start_time.strftime("%c") %> <br>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<!--
  <% if @validated_meeting %>
    <%# <% @validated_meeting.mentor %>
    <div class="messages-list">
      <h1> Résumé du dernier call et directives </h1>
      <ul class="list-group">
        <%= @messages.each do |message| %>
          <li class="list-group-item">
            <h2><%= message.title %> - <%= message.created_at %></h2>
            <p><%= message.description %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% elsif @meetings.any?%>
  <% else %>
    <h5>You don't have any mentor yet. <%= link_to "Find a mentor in 1 clic", new_meeting_url, class: "btn btn-primary" %></h5>
  <% end %>
-->
