<div id="banner">
  <%= render "shared/navbar" %>
  <div class="wrapper">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class=" profile-card d-flex flex-column bg-black p-1 border">
          <div class="m-1 overflow-hidden border-light">
            <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill %>
          </div>
          <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>

          <div class="bg-transparent p-1 m-1 biodiv">
            <h1>Bio:</h1><p class="text-white bio"><%= current_user.bio %> </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
