<!-- Mentor Card-->
<div id="banner">
  <div class="mentor-card">
    <div class="mentor-card-image"> <!-- Image -->
      <%= cl_image_tag User.find(@mentor.user_id).photo.key, height: 300, width: 300, crop: :fill %>
    </div>

    <div class="mentor-card-content d-flex flex-column">

      <div class="d-flex"> <!-- Name and last name-->
        <%= User.find(@mentor.user_id).first_name %>
        <%= User.find(@mentor.user_id).last_name %>
      </div>

      <div>  <!-- Bio-->
        <p>Je suis une description test pour la carte.Je suis volontairement plus longue car je voudrais avoiru ne largeur définie </p>
        <%= User.find(@mentor.user_id).bio %>
      </div>
    </div>
  </div>


  <!-- Booking the Free Strategy Call-->
  <div class="container">
    <div class="form-wrapper" style="width: 500px; margin: 0 auto;">
      <h2>Book a Free Strategy Call with <%= User.find(@mentor.user_id).first_name %></h2>
      <%= simple_form_for :meetings, method: "get" do |f| %>
        <%= f.input :start_time, as: :string, required: false, hint: "Pick the day and time of your call", input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Book Free Call", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
